APP_NAME=PyMVC App
APP_DEBUG=true
APP_URL=http://localhost:8000

# random.token_hex(32) দিয়ে জেনারেট করুন - core/security.py-এর generate_secret_key()
SECRET_KEY=change-this-to-a-random-64-char-hex-string

# DB_DRIVER = sqlite অথবা mysql
DB_DRIVER=sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=storage/database.sqlite
DB_USER=root
DB_PASSWORD=

SESSION_DIR=storage/sessions
SESSION_SECURE_COOKIE=false

VIEWS_DIR=app/views
LOG_FILE=storage/logs/app.log
